---
export interface Props {
   title: string
   body: string
   chars: { title: string; body: string }[]
   githref: string
   pagehref: string
   src: string
}

const { title, body, githref, pagehref, src, chars } = Astro.props
---

<div
   class="flex flex-col xl:flex-row text-cyan-600 xl:text-lg md:text-md max-w-full w-full"
>
   <picture
      id="image-project"
      class="xl:m-16 xl:w-1/2 w-full border-darkTeal items-center opacity-0"
   >
      <img
         src=`assets/img/Projects/${src}/first.png`
         alt=`${src} prev image`
         class="xl:w-full w-10/12 object-fill m-auto"
         style={{ boxShadow: 'rgba(0, 0, 0, 0.35) 0px 5px 15px' }}
      /></picture
   >
   <div id="content-project" class="xl:w-1/2 opacity-0 mx-8 xl:mx-0">
      <h2
         class="m-8 mt-16 text-center xl:text-left text-3xl sm:text-4xl font-bold"
      >
         {title}
      </h2>
      <p class="m-8 text-justify">{body}</p>
      <ul class="m-8">
         {
            chars.map((char) => {
               return (
                  <li class="mb-2">
                     <span class="font-bold">{char.title}:</span> {char.body}
                  </li>
               )
            })
         }
      </ul>
      <div class="flex justify-center m-0 ml-2 sm:m-8">
         <a
            target="_blank"
            href={pagehref}
            class="m-4 p-4 border-2 bg-gradient-to-r from-turquoise via-cyan-600 to-blue-900 text-white hover:bg-cyan-600 rounded-md text-xs sm:text-md transition duration-500 hover:scale-110"
         >
            VISIT WEBSITE</a
         >
         <a
            target="_blank"
            href={githref}
            class="m-4 p-4 border-2 border-cyan-600 hover:text-white hover:bg-cyan-600 rounded-md text-xs sm:text-md transition duration-500 hover:scale-110"
         >
            GITHUB REPO</a
         >
      </div>
   </div>
</div>
